<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306950599477-il65f799nbln7nfoqrp8k7d6tmm41k0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306950599477-il65f799nbln7nfoqrp8k7d6tmm41k0a</string>
	<key>API_KEY</key>
	<string>AIzaSyA06dCDWpS9uK4EmXlcCwW3yG3IPhCGFq4</string>
	<key>GCM_SENDER_ID</key>
	<string>306950599477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HendrikSteen.de.Driver</string>
	<key>PROJECT_ID</key>
	<string>taxi-2dbfa</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-2dbfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306950599477:ios:e8c1a2a6096e7368bd127c</string>
</dict>
</plist>